a{
    text-decoration: none;
}
ol, ul, li {
	list-style: none;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.df{
    display: flex;
}
/*  */

/* dep1 */
.dep1{
    width: 400px;
    border: 1px solid;
    padding: 1rem;
}
.dep1 img{
    width: 2%;
}
.dep1 h3{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.dep1 li{
    width: 100%;
    padding: .5rem;
}
.dep1 > a{
    font-size: 1.2rem;
    color: #404040;
    gap: 10px;
}
/* dep2 */
.dep2{
    width: 100%;
    /* line-height: 50px; */
    background: #999;
}
.dep2 a{
    font-size: 1.2rem;
    color: #404040;
}
.dep1:hover .dep2{
    display: block;
}
/* dep3 */
.dep3{
    width: 100%;

    background: #cecdcd;
}
.dep3 a{
    font-size: 1.2rem;
    color: #404040;
}

.dep2 li:hover .dep3{
    display: block;
}

.dep3,
.dep2{
    display: none;
}


