@charset "utf-8";
@import url(./reset.css);

.wrap{
    width: 100%;
    margin: auto;
}
.inner {
    width: 100%;
	max-width: 425px;
	margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* ====================================
    ======= popup ======    
==================================== */
/* .popup{
    position: fixed;
    width: min(50%, 500px);
    padding: 5% 2%;
    font-size: 1.8rem;
    line-height: 1.75;
    background-color: #fff;
    z-index: 3;
    top: 10%;
    left: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}
.popup>span{
    position: absolute;
    background: skyblue;
    padding: 1% 2%;
    right: 10%;
    bottom: 10%;
    color: #fff;
    cursor: pointer;
    user-select: none;
} */

/* ====================================
    ======= header ======    
==================================== */
header{
    width: 385px;
    height: 140px;
    position: relative;
}
header a{
    color: inherit;
    color: var(--text1);
}
/* nav */
.top_nav{
    width: 100%;
    height: 30px;
    position: relative;
    padding-top: 20px;
}
.top_nav::before{
    content: '';
    position: absolute;
    bottom: -60%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #007cc350;
}
.nav{
    flex: 1 1 33%;
}
.nav li{
    width: 100%;
    text-align: center
}
.nav li a{
    -webkit-text-size-adjust: auto;
    font-size: 1.5rem;
}
.gnb{
    padding-top: 42px;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

/* 햄버거메뉴 상단 디자인 */
.ham.move{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
}
.ham{
   width: 100%;
   position: fixed;
   left: -500px;
   top: 0;
   background: #fff;
   z-index: 999;
   transition: left .5s;
}
.ham_topmenu{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    position: relative;
}
.ham_topmenu::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #007cc380;
    bottom: -20px;
    left: 0;
}
.ham_topmenu .img{
    background: url(../imgs/logo1.png) no-repeat;
    background-size: 20px;
    width: 25px;
    height: 25px;
    margin-top: 8px;
}
.ham_topmenu i{
    font-size: 4rem;
    color: #007cc380;
}
.ham_topmenu h3{
    line-height: 35px;
    margin-left: 10px;
    font-size: 2rem;
    color:#007cc3;
    font-weight: 500;
}
.login{
    justify-content: space-between;
}
.login li{
    width: 47%;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #007cc380;
    gap: 10px;
    line-height: 30px;
    transition: background .5s;
}
.login li:hover{
    background-color: #007cc3;
}
.login li a{
    font-size: 1.8rem;
    color: #fff;
}
.black {
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: 0.5s opacity ease;
    opacity: 0.7;
  }
 .black.in {
    display: block;
  }
/* dep1 */

.dep1{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dep1 img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.dep1 a{
    position: relative;
}
.dep1 > a::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #007cc350;
    bottom: -20px;
    left: 0;
}
.dep1 h3{
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
}
.dep1 h3::before{
    position: absolute;
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:#007cc380;
    width: 0;
    height: 0;
    right: 30px;
    top: 0;
}
/* dep2 */
.dep2{
    display: none;
    position: relative;
}
.dep2:first-child li{
    position: relative;
    padding-left: 40px;
    padding-top: 35px;
}
.dep2 a::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    background: #007cc350;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateY(-50%);
}
.dep2 li a{
    position: relative;
    font-size: 1.6rem;
}
.dep2 a:hover::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    background: #007cc350;
    width: 100%;
    height: 1px;
    border-radius: 50%;
    transform: translateY(-50%);
}

.logo{
    width: 77%;
}
.logo a{
    height: 60px;
    display: block;
    background: url(../imgs/logo1.png) no-repeat;
    background-size: 50px;
    text-indent: -999999px;
    overflow: hidden;
    font-size: 0;
}
.icon{
    width: 23%;
    justify-content: space-between;
}
.icon a i{
    -webkit-text-size-adjust: auto;
    font-size: 4rem;
    color: #007cc380;
    line-height: 1.8rem;
}
/* ====================================
    ======= main ======    
==================================== */
main{
    width: 100%;
    position: relative;
}
.banner{
    width: 100%;
    height: 238px;
    position: relative;
}
#slides {
	width: 100%;
	height: 238px;
	position: relative;
	overflow: hidden;
    z-index: 1;
}
#slides li {
	left: 0;
	position: absolute;
}
.slide1{
	width: 100%;
	height: 100%;
	left: 0;
	background: url(../imgs/main_banner.jpg) center  no-repeat;
}
.slide2{
	width: 100%;
	height: 100%;
	left: 100%;
	background: url(../imgs/main_banner2.jpg) center  no-repeat;
}
/* banner bar */
.banner .bar {
	content: '';
	position: absolute;
	bottom: 10px;
	right: 10px;
	background-color: #ffffff95;
	border-radius: 5px;
	width: 100px;
	height: 25px;
	z-index: 2;
}
/* 버튼 */
.pager{
	width: 100px;
	height: 40px;
	position: relative;
}
.pager li:first-child:before{
	position: absolute;
	content: '';
	border-radius: 50%;
	width: 10px;
	height: 10px;
	border: 2px solid #007cc380;
	top: 33.5%;
	transform: translateY(-50%);
	left: 15px;
	z-index: 3;
}
.pager li:nth-child(2):before{
	position: absolute;
	content: '';
	border-radius: 50%;
	width: 10px;
	height: 10px;
	border: 2px solid #007cc380;
	top: 33.5%;
	transform: translateY(-50%);
	left: 40px;
	z-index: 3;
}
.pager li:first-child.on :after{
	position: absolute;
	content: '';
	border-radius: 50%;
	width: 13px;
	height: 13px;
	background: #007cc3;
	top: 33.5%;
	left: 16px;
	transform: translateY(-50%);
	z-index: 4;
}
.pager li:nth-child(2).on :after{
	position: absolute;
	content: '';
	border-radius: 50%;
	width: 13px;
	height: 13px;
	background: #007cc3;
	top: 33.5%;
	left: 40px;
	transform: translateY(-50%);
	z-index: 4;
}
/* 재생 멈춤 버튼 */
.bar_btn{
	position: relative;
	width: 50px;
	height: 100%;
}
.bar_btn i{
	position: absolute;
	font-size: 1.9rem;
	line-height: 25px;
	margin-left: 5px;
	color: #007cc3;
}
.bar_btn i.stop{
	display: none;
}

.text{
    width: 425px;
    border-bottom: 1px solid #007cc350;
}
.explanation{
    width: 100%;
    height: 260px;
    margin-top: 10px;
}
.banner_text{
    margin-bottom: 10px;
}
.banner_text  .df i {
    color: #007cc380;
    margin-right:15px;
    line-height: 30px;
    font-size: 2rem;
    width: 20px;
}
.banner_text h3{
    -webkit-text-size-adjust: auto;
    font-size: 2rem;
    color: var(--text2);
    font-weight: bold;
}
.banner_text span{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text3);
    margin-left: 35px;
}
.sub_text p{
    -webkit-text-size-adjust: auto;
    font-size: 1.4rem;
    color: var(--text1);
    margin-left: 35px;
}
.sub_text span{
    line-height: 2.5rem;
    margin-left: 10px;
    color: var(--text1);
}
.time_text i{
    color: #007cc380;
    margin-right:15px;
    line-height: 27px;
    font-size: 2rem;
    width: 20px;
}
.time_text h3{
    -webkit-text-size-adjust: auto;
    font-size: 1.8rem;
    color: #007cc380;
    font-weight: bold;
}
/* ====================================
    ======= section1 ======    
==================================== */
.content1{
    width: 100%;
    height: 440px;
    padding-top: 10%;
}
.exhbox{
    height: calc(var(--row) * 4);
    position: relative;
}
.exh{
    color: #007cc3;
    font-weight: bold;
    font-size: 3.2rem;
    align-items: center;
    position: absolute;
    bottom: var(--row);
}
.exh::before{
    position: absolute;
    content: '';
    width: 60%;
    height: 4px;
    background-image: linear-gradient(to left, #007cc3, #00ae9dad);
    top: -15px;
    left: 10px;
    opacity: .5;
}
.content1 .swiper{
    width: 385px;
    overflow: hidden;
}
.content1 .swiper-wrapper > .swiper-slide img{
    width: 180px;
    height: 228px;
}
/* exh swiper button */
.swiper-button-next::after,
.swiper-button-prev::after{
  display: none;
}
.exhbox .exhbar {
    width: 30px;
    justify-content: space-between;
    position: absolute;
    bottom: 28px;
    right: 0;
  }
  .exhbox .exhbar i {
    font-size: 1.5rem;
    color: #007cc3;
  }
.exhbar .swiper-button-next{
    position: absolute;
    right: 0;
    top: -11px;
    opacity: .5;
  }
  .exhbar .swiper-button-prev{
    position: absolute;
    left: -14px;
    top: -11px;
    opacity: .5;
  }
  .exhbar .swiper-button-play{
    position: absolute;
    right: 16px;
    top: -11px;
    display: none;
  }
  .exhbar .swiper-button-pause{
    position: absolute;
    right: 20px;
    top: -11px;
  }
  .exhbar .swiper-button-play.btnon{
    display: block;
  }


.exhibit .coment{
    padding-top: 10%;
    line-height: 2.5rem;
}
.exhibit .coment h4{
    -webkit-text-size-adjust: auto;
    font-size: 1.8rem;
    color: var(--text2);

}
.exhibit .coment p{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text1);
}
.exhibit .coment span{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text3);
}
/* exh1 hover */
.exhibit div{
    position: relative;
}
.exhibit div .caption{
    position: absolute;
    top: 0;
    left: 0;
    height: 228px;
    width: 180px;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
}
.exhibit .caption h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
}
.exhibit div:hover .caption{
    opacity: 1;
    background-color: rgba(0,0,0,.5);
}

/* ====================================
    ======= section2 ======    
==================================== */
.content2{
    padding-top: 10%;
    width: 100%;
    height: 410px;
}
.content2 .exhibit li:last-child .coment h4 {
    -webkit-text-size-adjust: auto;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text2);
}
.content2 .swiper div img{
    width: 180px;
    height: 182px;
    box-shadow: rgba(0, 0, 0, 0.3) 4px 8px 10px 0px
}
.content2 .swiper{
    overflow: hidden;
    width: 385px;
}
.exhbar2 .swiper-button-next{
    position: absolute;
    right: 0;
    top: -11px;
    opacity: .5;
}
.exhbar2 .swiper-button-prev{
    position: absolute;
    left: -14px;
    top: -11px;
    opacity: .5;
}
.exhbar2 .swiper-pagination-fraction{
    font-size: 10px;
    position: absolute;
    top: -10px;
    left: -1px;
    color: var(--primary1);
    font-weight: bold;
    width: 10%;
    display: flex;
    gap: 2px;
}
.content2 .exhbar2 {
  width: 30px;
  justify-content: space-between;
  position: absolute;
  bottom: 28px;
  right: 0;
}
.content2 .exhbar2 i {
  font-size: 1.5rem;
  color: #007cc3;
}
.content2 .swiper .exh6-1 .coment h4{
    font-size: 15px;
}
/* ====================================
    ======= section3 ======    
==================================== */
.content3{
    width: 100%;
    height: 360px;
}
.content3 .swiper div img{
    width: 180px;
    height: 182px;
    box-shadow: rgba(0, 0, 0, 0.3) 4px 8px 10px 0px
}
.content3 .swiper{
    width: 385px;
    overflow: hidden;
}
.exhbar3 .swiper-button-next{
    position: absolute;
    right: 0;
    top: -11px;
    opacity: .5;
}
.exhbar3 .swiper-button-prev{
    position: absolute;
    left: -14px;
    top: -11px;
    opacity: .5;
}
.exhbar3 .swiper-pagination-fraction{
    font-size: 10px;
    position: absolute;
    top: -10px;
    left: -1px;
    color: var(--primary1);
    font-weight: bold;
    width: 10%;
    display: flex;
    gap: 2px;
}
.content3 .exhbar3 {
  width: 30px;
  justify-content: space-between;
  position: absolute;
  bottom: 28px;
  right: 0;
}
.content3 .exhbar3 i {
  font-size: 1.5rem;
  color: #007cc3;
}

.content3 .coment h4{
    -webkit-text-size-adjust: auto;
    font-size: 1.8rem;
}

.content3 .coment{
    padding-top: 10%;
    line-height: 2.8rem;
}
.content3 .coment h4{
    -webkit-text-size-adjust: auto;
    font-size: 1.8rem;
    color: var(--text2);

}
.content3 .coment p{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text1);
}
.content3 .coment span{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text3);
}
/* exh2 hover */
.content3 .exhibit2 > div{
    position: relative;
}
.content3 .exhibit2 .caption{
    position: absolute;
    top: 0;
    left: 0;
    height: 182px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
}
.content3 .caption h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
}
.content3 .exhibit2>div:hover .caption{
    opacity: 1;
    background-color: rgba(0,0,0,.5);
}


/* ====================================
    ======= section4 ======    
==================================== */
.content4{
    width: 100%;
    height: 450px;
}
.menubox1{
    width: 100%;
    height: calc(var(--row) * 12);
    border-top: 2px solid #007cc33d;
    border-bottom: 2px solid #007cc33d;
    margin-top: var(--row);
    padding-left: 2rem;
    position: relative;
}
.menubox1 h2{
    align-items: center;
}
.menubox1top i{
    -webkit-text-size-adjust: auto;
    font-size: 2.4rem;
    right: -20px;
    bottom: -10px;
    color: #007cc380;
    position: absolute;
}
.menubox1top{
    margin-top: var(--row);
    height: var(--row);
    margin-right: calc(var(--gu) * 4);
    position: relative;
}
.menubox1top label{
    -webkit-text-size-adjust: auto;
    margin-left: 2rem;
    font-size: 2.4rem;
    line-height: 5rem;
    font-weight: bold;
    color: var(--text1);
    opacity: .8;
    cursor: pointer;
}
.notice1,
.notice3{
    line-height: calc(var(--row) * 2);
    border-bottom: 2px solid #007cc33d;
    width: 100%;
}
.notice1 li h4,
.notice3 li h4{
    color: var(--text2);
    margin-top: calc(var(--row) * 0.5);
}

.notice1 li span,
.notice3 li span{
    -webkit-text-size-adjust: auto;
    color: var(--text3);
    font-size: 1.4rem;
}
.notice2,
.notice4{
    margin-top: var(--row);
    position: relative;
}

.notice2 li,
.notice4 li{
    margin-bottom: var(--row);
}
.notice2 li p{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: calc(var(--row) * 1.5); */
}
.notice4 li p{
    display: flex;
    justify-content: space-between;
}

.notice2 li span,
.notice4 li span
{
    -webkit-text-size-adjust: auto;
    color: var(--text3);
    font-size: 1.2rem;
}
.menubox1 .p{
    -webkit-text-size-adjust: auto;
    color: var(--text2);
    font-size: 1.4rem;
}
.menubox1 h2{
    -webkit-text-size-adjust: auto;
    font-size: 3rem;
    color: var(--primary1);
    font-weight: bold;
}
.content4_box input{
    opacity: 0;
}
.menubox1top label:nth-child(1){
    margin-right:calc(var(--gu) * 2);
}
.museum{
    clear: both;
    position: absolute;
    display: none;
    width: 90%;
}
.content4_box #one:checked ~ .menubox1 .museum{
    display: block;
}
.museum_notice{
    position: absolute;
    width: 90%;
}
.museum_notice{
    clear: both;
    display: none;
}
.content4_box #two:checked ~ .menubox1 .museum_notice{
    display: block;
}

#one:checked ~ .menubox1top label[for='one']{
    color:#005c91d0;
    border-bottom: 3px solid #007cc38f;
    height: calc(var(--row) * 2.1);
}
#two:checked ~ .menubox1top label[for='two']{
    color:#005c91d0;
    border-bottom: 3px solid #007cc38f;
    height: calc(var(--row) * 2.1);
}
.notice2 p:hover,
.notice4 p:hover{
    font-weight: bold;
}
/* ====================================
    ======= section5 ======    
==================================== */
.content5{
    width: 100%;
    height: 400px;
}
.popupzone{
    width: 100%;
    height: 210px;
    margin-bottom: var(--row);
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.popupzone .swiper{
    width: 385px;
    overflow: hidden;
}
/* 팝업존 바 */
.pop_pager{
    position: relative;
}
.pop_pager:after{
    content: '';
    position: absolute;
    width: 90px;
    height: 30px;
    background: #ffffff99;
    border-radius: 5px;
    bottom: 20px;
    right: 20px;
  }
  /* swiper pager */
  .pop_pager .swiper-pagination{
    display: flex;
    width: 50px;
    height: 30px;
    position: absolute;
    top: -43px;
    right:50px;
    gap: 5px;
    z-index: 9;
  }
  .pop_pager .swiper-pagination-bullet{
    width: 17px;
    height: 17px;
    background-color: var(--primary1);
    border-radius: 50%;
  }
  .pop_pager .swiper-pagination-bullet-active{
    background-color: var(--primary1);
    opacity: .4;
  }

  .popupzone .swiper-stop,
  .popupzone .swiper-play{
    position: absolute;
    bottom: 24px;
    right: 30px;
    z-index: 9;
    font-size: 20px;
    color: var(--primary1);
    cursor: pointer;
  }
  .popupzone .swiper-play{
    display: none;
  }
  .popupzone .swiper-play.btnon{
    display: block;
  }
  .btnon{
    display: none;
  }

/* button */

.button{
    width: 100%;
    height: calc(var(--row) * 3);
    justify-content: space-between;
    position: relative;
}
.button a{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #007cc3a1;
}
.button1, .button2, .button3{
    /* margin-top: var(--row); */
    border: 1px solid #007cc380;
    height: calc(var(--row) * 3);
    width: 31%;
    align-items: center;
    justify-content: center;
}
.button a{
    flex-direction: column;
}
.button i{
    -webkit-text-size-adjust: auto;
    font-size: 3.2rem;
}
.button h5{
    -webkit-text-size-adjust: auto;
    color: var(--primary1);
    font-size: 1.8rem;
}
.button1:hover, .button2:hover, .button3:hover{
    background-color: #007cc380;
    border: none;
}
.button1:hover h5,.button1:hover i{
    color: white;
}
.button2:hover h5,.button2:hover i{
    color: white;
}
.button3:hover h5,.button3:hover i{
    color: white;
}

/* ====================================
    ======= section6 ======    
==================================== */
.content6{
    width: 100%;
    height: 300px;
    position: relative;
}
.content6::before{
    content: '';
    width: 58%;
    height: 60%;
    position: absolute;
    top:-40px;
    left: 0;
    background-image: linear-gradient(to left, #007cc370, #00ae9d50);
    z-index: -1;
}
.content6::after{
    content: '';
    width: 50%;
    height: 60%;
    position: absolute;
    top: 40%;
    right: 0;
    background: url(../imgs/backgroundimg.jpg) no-repeat;
    background-size: 200%;
    opacity: .1;
    z-index: -2;
}

/* notice */
.content6_name h2{
    color: #fff;
    font-weight: bold;
    font-size: 3.2rem;
    width: 100%;
    height: calc(var(--row) * 2);
    text-shadow: 4px 4px 1px #007cc375;
}
.content6 .swiper{
    padding-bottom: 20px;
    overflow: hidden;
}
.content6 .swiper .photo_box{
    width: 180px;
    height: 197px;
    box-shadow: 3px 1px 8px rgba(0,0,0,0.2);
    background-color: #fff;
    transition: box-shadow 0.5s, transform 0.5s;
}
.photo_box:hover{
    transform: translate(-1px, -1px);
    box-shadow: 3px 1px 14px rgba(0,0,0,0.5);
    box-shadow: 13px 12px 24px rgba(0,0,0,0.3);
}
.photo_box img{
    width: 180px;
    height: 135px;
}
.photo_box p{
    margin-top: 7px;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: var(--text1);
}
.content6 .swiper-button-next::after,
.content6 .swiper-button-prev::after{
  display: none;
}
.content6 .swiper-button-next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 730px;
}
.content6 .swiper-button-prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 730px;
}
.content6 .controls img {
  width: 50px;
}
/* ====================================
    ======= footer ======    
==================================== */
footer{
    width: 100%;
    height: 560px;
    position: relative;
    flex-direction: column;
}

/* ====================================
    ======= f_section1 ======    
==================================== */
.f_section1{
    position: relative;
    height: 160px;
}
.f_section1 h3{
    -webkit-text-size-adjust: auto;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
.hub1 a{
    -webkit-text-size-adjust: auto;
    width: 100%;
    height: var(--row);
    flex: 1 1 33%;
    text-align : center;
}
.hub2 a{
    -webkit-text-size-adjust: auto;
    width: 100%;
    height: var(--row);
    flex: 1 1 50%;
    text-align: center;
}
.hub1 p, .hub2 p {
    -webkit-text-size-adjust: auto;
    padding-top: 2.5rem;
    font-size: 1.3rem;
    color: var(--white);
}
.hub1 i, .hub2 i{
    margin-right: 1.5rem;
    position: relative;
}
.hub2{
    padding-top: 2rem;
}

/* before, after */
.f_section1::before{
    position: absolute;
    content: '';
    width:100%;
    height: 150px;
    left: 0px;
    top: 0;
    background: #007cc363;
    z-index: -1;
}
.f_section1 .blog i::after{
    position: absolute;
    content: '';
    background-color: #fff;
    top: 40%;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: -1;
    transform: translateY(-50%);
}
.f_section1 .facebook i::after{
    position: absolute;
    content: '';
    background-color: #fff;
    top: 50%;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: -1;
    transform: translateY(-50%);
}
.f_section1 .youtube i::after{
    position: absolute;
    content: '';
    background-color: #fff;
    top: 30%;
    left: -4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: -1;
    transform: translateY(-50%);
}

/* ====================================
    ======= f_section2 ======    
==================================== */
.f_section2{
    width: 100%;
    height: calc(var(--row) * 5);
}
.f2{
    flex-wrap: wrap;
    position: relative;
}
.footer_nav{
    width: 50%;
}
.footer_nav p{
    -webkit-text-size-adjust: auto;
    font-size: 1.4rem;
    line-height: calc(var(--row) * 1.5); 
    padding-left: 2rem;
    height: calc(var(--row) * 1.5);
    border: 1px solid #007cc381;
    border-radius: 0.5rem;
    position: relative;
    color: var(--text1);
}
.f_section2 p::before{
    position: absolute;
    content: '\f106';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:#007cc381;
    width: 0;
    height: 0;
    right: 30px;
    top: 0;
}

.footer_nav a:hover p::before {
    position: absolute;
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:#007cc381;
    width: 0;
    height: 0;
    right: 30px;
    top: 0px;
}
/* ====================================
    ======= footer_nav ======    
==================================== */
.footer_inner{
    padding: 0 3rem;
    width: 100%;
    height: 0;
    position: absolute;
    background: #ffffff;
    bottom:115px;
    left: 0;
    overflow: hidden;
    transition: padding 0.5s;
    z-index: 2;
    flex-direction: column;
    border-radius: .5rem;
}
.footer_nav:hover .footer_inner{
    height: auto;
    padding-top:0;
    padding-bottom: 3rem;
    border: 1px solid #007cc381;
}
.footer_inner a{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text1);
}
.footer_inner h4{
    -webkit-text-size-adjust: auto;
    padding-top: 3rem;
    color: #007cc3;
    font-size: 2rem;
}
.inner_head li{
    height: calc(var(--row) * 2.2);
    border-bottom: 1px solid #007cc381;
    margin-bottom: 1rem;
}
.f_box{
    width: 100%;
}
.f_box ul{
    flex: 1 1 20%;
}
.f_box li{
    -webkit-text-size-adjust: auto;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--text3);
}
.f_box a{
    position: relative;
}
.f_box a:hover:before{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--text3);
}

/* ====================================
    ======= f_section3 ======    
==================================== */
.f_section3{
    margin-top: 2rem;
}
.f3 li:nth-child(1) p{
    color: var(--primary1)
}
.f_section3 li:hover,
.f_section2 p:hover{
    font-weight: bold;
}
.f3,.f3_1{
    height: calc(var(--row) * 1.5);
    /* justify-content: space-between; */
    gap: 3rem;
}
.f3 p, .f3_1 p{
    -webkit-text-size-adjust: auto;
    color: var(--text1);
    font-size: 1.4rem;
    text-align: center;
}
.f3 li p,
.f3_1 li p{
    position: relative;
}
.f3 li p::before,
.f3_1 li p::before{
    position: absolute;
    content: '';
    background: var(--text3);
    width: 1px;
    height: 100%;
    top: 0;
    right: -20px;
    opacity: .5;
}
/* ====================================
    ======= f_section4 ======    
==================================== */
.f_section4{
    width: 100%;
    height:  210px;
}
.f4 p{
    -webkit-text-size-adjust: auto;
    width: min(100%,640px);
    color: var(--text1);
    font-size: 1.3rem;
    line-height: 4.5rem;
}
.f4 span{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text3);
}
/* ====================================
    ======= f_section5 ======    
==================================== */
.f_section5{
    height: 40px;
    width: 100%;
    justify-content: space-between;
}

.f_section5 span{
    margin-top: 10px;
    color: var(--text3);
    opacity: .7;
}

.f_section5 button{
	width: 100px;
	height: 25px;
	border: 1px solid #007cc380;
	background: #ffffff;
	font-size: 1.2rem;
	color:#007cc3;
	font-weight: bold;
}

/* 탑버튼 */
.go-top{
	position: fixed;
	bottom: 0;
	right: 0;
	display: none;
}
.go-top i{
	position: absolute;
	width: 50px;
	height: 50px;
	content: '';
	bottom: 36px;
	right: 6px;
	font-size: 2.5rem;
	color:#007cc380;
}

.go-top::before{
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	bottom: 50px;
	right: 20px;
	background: #fff;
	z-index: -1;
	box-shadow: rgb(0, 0, 0,.5) 3px 4px 5px;
}
.go-top .fa {
	display: inline-block;
}