@charset "utf-8";
@import url(./reset.css);

.wrap{
    width: 100%;
    max-width: 425px;
    padding-left: 20px;
    padding-right: 20px;
}

/* ====================================
    ======= popup ======    
==================================== */
/* .popup{
    position: fixed;
    width: min(50%, 500px);
    padding: 5% 2%;
    font-size: 1.8rem;
    line-height: 1.75;
    background-color: #fff;
    z-index: 3;
    top: 10%;
    left: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}
.popup>span{
    position: absolute;
    background: skyblue;
    padding: 1% 2%;
    right: 10%;
    bottom: 10%;
    color: #fff;
    cursor: pointer;
    user-select: none;
} */

/* ====================================
    ======= header ======    
==================================== */
header{
    width: 385px;
    height: calc(var(--row) * 5);
    position: relative;
}
header a{
    color: inherit;
    color: var(--text1);
}
/* nav */
.top_nav{
    width: 100%;
    height: var(--row);
    position: relative;
    padding-top: 3%;
}
.top_nav::before{
    content: '';
    position: absolute;
    bottom: -60%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #007cc350;
}
.nav{
    flex: 1 1 33%;
}
.nav li{
    width: 100%;
    text-align: center
}
.nav li a{
    -webkit-text-size-adjust: auto;
    font-size: 1.4rem;
}

.gnb{
    padding-top: calc(var(--row) * 1.5);
    width: 100%;
    height: calc(var(--row) * 3.5);
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 77%;
}
.logo a{
    height: calc(var(--row) * 2.5);
    display: block;
    background: url(../imgs/logo1.png) no-repeat;
    text-indent: -999999px;
    overflow: hidden;
    font-size: 0;
}
.icon{
    width: 23%;
    justify-content: space-between;
}
.icon a i{
    -webkit-text-size-adjust: auto;
    font-size: 4rem;
    color: #007cc380;
    line-height: 1.8rem;
}
/* ====================================
    ======= main ======    
==================================== */
main{
    width: 385px;
    position: relative;
}
.banner{
    width: 100%;
    height: 238px;
    background:url(../imgs/main_banner2.jpg) no-repeat center/100%;
    position: relative;
}
.bar{
    position: absolute;
    right: -10%;
    bottom: 10%;
    transform: translateX(-50%);
}
.explanation{
    width: 100%;
    height: calc(var(--row) * 10);
    border-bottom: 1px solid #007cc350;
}
.exp{
    padding-top: 5%;
    width: 10%;
    flex-direction: column;
    row-gap: 20%;
}
.exp p i{
    -webkit-text-size-adjust: auto;
    font-size: 2rem;
    color: #007cc380;
}
.fa-calendar{
   padding-top: 90%;
}

.text{
    width: 90%;
}
.banner_text h3{
    -webkit-text-size-adjust: auto;
    font-size: 2rem;
    color: var(--text2);
    font-weight: bold;
    padding-top: 3.5%;
}
.banner_text span{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text4);
    line-height: 3.4rem;
}
.sub_text p{
    -webkit-text-size-adjust: auto;
    font-size: 1.4rem;
    margin-right: 1rem;
    color: var(--text1);
}
/* ====================================
    ======= section1 ======    
==================================== */
.content1{
    width: 100%;
    height: calc(var(--row) * 18);
    padding-top: 10%;
}
.exhbox{
    height: calc(var(--row) * 4);
    position: relative;
}
.exh{
    -webkit-text-size-adjust: auto;
    color: #007cc380;
    font-weight: bold;
    font-size: 3.2rem;
    align-items: center;
    position: absolute;
    bottom: var(--row);
}
.exh::before{
    position: absolute;
    content: '';
    width: 60%;
    height: 4px;
    background-image: linear-gradient(to left, #007cc3, #00ae9dad);
    top: -15px;
    left: 10px;
    opacity: .5;
}
.exhbox img{
    position: absolute;
    bottom: var(--row);
    right: 0;
    width: 15%;
}
.exhibit{
    justify-content: space-between;
}
.exhibit li{
    width: 47%;
}
.exhibit li img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 4px 8px 10px 0px
}
.exhibit .coment{
    padding-top: 10%;
    line-height: 2.8rem;
}
.exhibit .coment h4{
    -webkit-text-size-adjust: auto;
    font-size: 1.8rem;
    color: var(--text2);

}
.exhibit .coment p{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text1);
}
.exhibit .coment span{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text4);
}
/* exh1 hover */
.exhibit li{
    position: relative;
}
.exhibit li .caption{
    position: absolute;
    top: 0;
    left: 0;
    height: 247px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
}
.exhibit .caption h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
}
.exhibit li:hover .caption{
    opacity: 1;
    background-color: rgba(0,0,0,.5);
}


/* ====================================
    ======= section2 ======    
==================================== */
.content2{
    padding-top: 10%;
    width: 100%;
    height: calc(var(--row) * 16);
    justify-content: space-between;
}
.content2 .exhibit li:last-child .coment h4 {
    -webkit-text-size-adjust: auto;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--text2);
}
/* ====================================
    ======= section3 ======    
==================================== */
.content3{
    width: 100%;
    height: calc(var(--row) * 14);
    justify-content: space-between;
}
.content3 .exhibit2 .coment h4{
    -webkit-text-size-adjust: auto;
    font-size: 1.8rem;
}
.content3 .exhibit2 li img{
    width: 100%;
    height: 182px;
}
.exhibit2{
    justify-content: space-between;
}
.exhibit2 li{
    width: 47%;
}
.exhibit2 li img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 4px 8px 10px 0px
}
.exhibit2 .coment{
    padding-top: 10%;
    line-height: 2.8rem;
}
.exhibit2 .coment h4{
    -webkit-text-size-adjust: auto;
    font-size: 1.8rem;
    color: var(--text2);

}
.exhibit2 .coment p{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text1);
}
.exhibit2 .coment span{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text4);
}
/* exh2 hover */
.exhibit2 li{
    position: relative;
}
.exhibit2 li .caption{
    position: absolute;
    top: 0;
    left: 0;
    height: 182px;
    width: 100%;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
}
.exhibit2 .caption h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #fff;
}
.exhibit2 li:hover .caption{
    opacity: 1;
    background-color: rgba(0,0,0,.5);
}


/* ====================================
    ======= section4 ======    
==================================== */
.content4{
    width: 100%;
    height: calc(var(--row) * 18);
}
.menubox1{
    width: 100%;
    height: calc(var(--row) * 12);
    border-top: 2px solid #007cc33d;
    border-bottom: 2px solid #007cc33d;
    margin-top: var(--row);
    padding-left: 2rem;
    position: relative;
}
.menubox1 h2{
    align-items: center;
}
.menubox1top i{
    -webkit-text-size-adjust: auto;
    font-size: 2.4rem;
    right: -20px;
    bottom: -10px;
    color: #007cc380;
    position: absolute;
}
.menubox1top{
    margin-top: var(--row);
    height: var(--row);
    margin-right: calc(var(--gu) * 4);
    position: relative;
}
.menubox1top label{
    -webkit-text-size-adjust: auto;
    margin-left: 2rem;
    font-size: 2.4rem;
    line-height: 5rem;
    font-weight: bold;
    color: var(--text1);
    opacity: .8;
    cursor: pointer;
}
.notice1,
.notice3{
    line-height: calc(var(--row) * 2);
    border-bottom: 2px solid #007cc33d;
    width: 100%;
}
.notice1 li h4,
.notice3 li h4{
    color: var(--text2);
    margin-top: calc(var(--row) * 0.5);
}

.notice1 li span,
.notice3 li span{
    -webkit-text-size-adjust: auto;
    color: var(--text4);
    font-size: 1.4rem;
}
.notice2,
.notice4{
    margin-top: var(--row);
    position: relative;
}

.notice2 li,
.notice4 li{
    margin-bottom: var(--row);
}
.notice2 li p{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: calc(var(--row) * 1.5); */
}
.notice4 li p{
    display: flex;
    justify-content: space-between;
}

.notice2 li span,
.notice4 li span
{
    -webkit-text-size-adjust: auto;
    color: var(--text4);
    font-size: 1.2rem;
}
.menubox1 .p{
    -webkit-text-size-adjust: auto;
    color: var(--text2);
    font-size: 1.4rem;
}
.menubox1 h2{
    -webkit-text-size-adjust: auto;
    font-size: 3rem;
    color: var(--primary1);
    font-weight: bold;
}
.content4_box input{
    opacity: 0;
}
.menubox1top label:nth-child(1){
    margin-right:calc(var(--gu) * 2);
}
.museum{
    clear: both;
    position: absolute;
    display: none;
    width: 90%;
}
.content4_box #one:checked ~ .menubox1 .museum{
    display: block;
}
.museum_notice{
    position: absolute;
    width: 90%;
}
.museum_notice{
    clear: both;
    display: none;
}
.content4_box #two:checked ~ .menubox1 .museum_notice{
    display: block;
}

#one:checked ~ .menubox1top label[for='one']{
    color:#005c91d0;
    border-bottom: 3px solid #007cc38f;
    height: calc(var(--row) * 2.1);
}
#two:checked ~ .menubox1top label[for='two']{
    color:#005c91d0;
    border-bottom: 3px solid #007cc38f;
    height: calc(var(--row) * 2.1);
}
.notice2 p:hover,
.notice4 p:hover{
    font-weight: bold;
}
/* ====================================
    ======= section5 ======    
==================================== */
.content5{
    width: 100%;
    height: calc(var(--row) * 15);
}
.menubox2top h2{
    -webkit-text-size-adjust: auto;
    font-size: 3.2rem;
    color: white;
    font-weight: bold;
    text-shadow: 4px 4px 1px #007cc3b9;
}
.popupzone{
    width: 100%;
    height: 250px;
    margin-bottom: var(--row);
    padding: 2rem;
    background: url(../imgs/popupzone.jpg) no-repeat top;
    background-size: 100%;
    position: relative;
    z-index: 2;
}
.popupzone img{
    position: absolute;
    right: 5%;
    bottom: var(--row);
    width: 25%;
}
.popupzone:before{
    position: absolute;
    width: 100%;
    height: 250px;
    content: '';
    background: #00000020;
    mix-blend-mode: multiply;
    right: 0;
    top: 0;
    z-index: -1;
}

/* button */

.button{
    width: 100%;
    height: calc(var(--row) * 3);
    justify-content: space-between;
    position: relative;
}
.button a{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #007cc3a1;
}
.button1, .button2, .button3{
    /* margin-top: var(--row); */
    border: 1px solid #007cc380;
    height: calc(var(--row) * 3);
    width: 31%;
    align-items: center;
    justify-content: center;
}
.button a{
    flex-direction: column;
}
.button i{
    -webkit-text-size-adjust: auto;
    font-size: 3.2rem;
}
.button h5{
    -webkit-text-size-adjust: auto;
    color: var(--primary1);
    font-size: 1.8rem;
}
.button1:hover, .button2:hover, .button3:hover{
    background-color: #007cc380;
    border: none;
}
.button1:hover h5,.button1:hover i{
    color: white;
}
.button2:hover h5,.button2:hover i{
    color: white;
}
.button3:hover h5,.button3:hover i{
    color: white;
}

/* ====================================
    ======= section6 ======    
==================================== */
.content6{
    width: 100%;
    max-height: calc(var(--row) * 18);
    position: relative;
    flex-direction: column;
}
.content6::before{
    content: '';
    width: 70%;
    height: 100%;
    position: absolute;
    top:-40px;
    left: -20px;
    background-image: linear-gradient(to left, #007cc370, #00ae9d50);
    z-index: -1;
}
.content6::after{
    content: '';
    width: 60%;
    height: 150%;
    position: absolute;
    top: 96%;
    right: -20px;
    background: url(../imgs/backgroundimg.jpg) no-repeat;
    background-size: 100%;
    opacity: .1;
    z-index: -2;
}

/* notice */
.content6_name{
    -webkit-text-size-adjust: auto;
    color: #fff;
    font-weight: bold;
    font-size: 3.2rem;
    width: 100%;
    height: calc(var(--row) * 2);
    text-shadow: 4px 4px 1px #007cc375;
}

.photo{
    justify-content: space-around;
}
.photo_box{
    width: 47%;
    height: calc(var(--row) * 8);
    box-shadow: 3px 1px 8px rgba(0,0,0,0.2);
    background-color: #fff;
    transition: box-shadow 0.5s, transform 0.5s;
}
.photo_box:hover{
    transform: translate(-1px, -1px);
    box-shadow: 3px 1px 14px rgba(0,0,0,0.5);
    box-shadow: 13px 12px 44px rgba(0,0,0,0.3);
}
.gallary1{
    background: url(../imgs/photogallery1.png) no-repeat top;
    background-size: 100%;
    width: 100%;
    height: calc(var(--row) * 5.5);
}
.gallary2{
    background: url(../imgs/photogallery2.png) no-repeat top;
    background-size: 135%;
    width: 100%;
    height: calc(var(--row) * 5.5);
}

.photo_box p{
    -webkit-text-size-adjust: auto;
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: var(--text1);
}
.content6 .controls img[alt="prev"]{
    top: 58%;
    transform: translateY(-50%);
    position: absolute;
    left: -10px;
}
.content6 .controls img[alt="next"]{
    top: 58%;
    transform: translateY(-50%);
    position: absolute;
    right: -10px;
}
.content6 .controls img{
    width: 10%;
}
/* ====================================
    ======= footer ======    
==================================== */
footer{
    margin-top: calc(var(--row) * 3);
    width: 385px;
    height: calc(var(--row) * 20);
    position: relative;
    flex-direction: column;
}

/* ====================================
    ======= f_section1 ======    
==================================== */
.f_section1{
    position: relative;
    height: 190px;
}
.f_section1 h3{
    -webkit-text-size-adjust: auto;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
.hub1 a{
    -webkit-text-size-adjust: auto;
    width: 100%;
    height: var(--row);
    flex: 1 1 33%;
    text-align : center;
}
.hub2 a{
    -webkit-text-size-adjust: auto;
    width: 100%;
    height: var(--row);
    flex: 1 1 50%;
    text-align: center;
}
.hub1 p, .hub2 p {
    -webkit-text-size-adjust: auto;
    padding-top: 2.5rem;
    font-size: 1.4rem;
    color: var(--white);
}
.hub1 i, .hub2 i{
    margin-right: 1.5rem;
    position: relative;
}
.hub2{
    padding-top: 2rem;
}

/* before, after */
.f_section1::before{
    position: absolute;
    content: '';
    width: 425px;
    height: 180px;
    left: -20px;
    top: 0;
    background: #007cc363;
    z-index: -1;
}
.f_section1 .blog i::after{
    position: absolute;
    content: '';
    background-color: #fff;
    top: 50%;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: -1;
    transform: translateY(-50%);
}
.f_section1 .facebook i::after{
    position: absolute;
    content: '';
    background-color: #fff;
    top: 50%;
    left: -6px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: -1;
    transform: translateY(-50%);
}
.f_section1 .youtube i::after{
    position: absolute;
    content: '';
    background-color: #fff;
    top: 50%;
    left: -4px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    z-index: -1;
    transform: translateY(-50%);
}

/* ====================================
    ======= f_section2 ======    
==================================== */
.f_section2{
    width: 100%;
    height: calc(var(--row) * 5);
    position: relative;
}
.f2{
    flex-wrap: wrap;
}
.footer_nav{
    width: 50%;
}
.footer_nav p{
    -webkit-text-size-adjust: auto;
    font-size: 1.4rem;
    line-height: calc(var(--row) * 1.5); 
    padding-left: 2rem;
    height: calc(var(--row) * 1.5);
    border: 1px solid #007cc381;
    border-radius: 0.5rem;
    position: relative;
    color: var(--text1);
}
.f_section2 p::before{
    position: absolute;
    content: '\f106';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:#007cc381;
    width: 0;
    height: 0;
    right: 35px;
    top: 0;
}

.footer_nav a:hover p::before {
    position: absolute;
    content: '\f107';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color:#007cc381;
    width: 0;
    height: 0;
    right: 35px;
    top: 0px;
}
/* ====================================
    ======= footer_nav ======    
==================================== */
.footer_inner{
    padding: 0 3rem;
    width: 100%;
    height: 0;
    position: absolute;
    background: #ffffff;
    bottom:140px;
    left: 0;
    overflow: hidden;
    transition: padding 0.5s;
    z-index: 2;
    flex-direction: column;
    border-radius: .5rem;
    /* box-shadow: 2px 2px 3px rgba(0,0,0,.2); */
}
.footer_nav:hover .footer_inner{
    height: auto;
    padding-top:0;
    padding-bottom: 3rem;
    border: 1px solid #007cc381;
}
.footer_inner a{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text1);
}
.footer_inner h4{
    -webkit-text-size-adjust: auto;
    padding-top: 3rem;
    color: #007cc39d;
    font-size: 2rem;
}
.inner_head li{
    height: calc(var(--row) * 2.2);
    border-bottom: 1px solid #007cc381;
    margin-bottom: 1rem;
}
.f_box{
    width: 100%;
}
.f_box ul{
    flex: 1 1 20%;
}
.f_box li{
    -webkit-text-size-adjust: auto;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--text3);
}
.f_box a{
    position: relative;
}
.f_box a:hover:before{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--text4);
}

/* ====================================
    ======= f_section3 ======    
==================================== */
.f_section3{
    margin-top: 2rem;
}
.f3 li:nth-child(1) p{
    color: var(--primary3);
}
.f_section3 li:hover,
.f_section2 p:hover{
    font-weight: bold;
}
.f3,.f3_1{
    height: calc(var(--row) * 1.5);
    /* justify-content: space-between; */
    gap: 3rem;
}
.f3 p, .f3_1 p{
    -webkit-text-size-adjust: auto;
    color: var(--text1);
    font-size: 1.4rem;
    text-align: center;
}
.f3 li p,
.f3_1 li p{
    position: relative;
}
.f3 li p::before,
.f3_1 li p::before{
    position: absolute;
    content: '';
    background: var(--text4);
    width: 1px;
    height: 100%;
    top: 0;
    right: -20px;
    opacity: .5;
}
/* ====================================
    ======= f_section4 ======    
==================================== */
.f_section4{
    width: 100%;
    height:  calc(var(--row) * 9);
}
.f4 p{
    -webkit-text-size-adjust: auto;
    width: min(100%,640px);
    color: var(--text1);
    font-size: 1.4rem;
    line-height: 4.5rem;
}
.f4 span{
    -webkit-text-size-adjust: auto;
    font-size: 1.2rem;
    color: var(--text4);
}
/* ====================================
    ======= f_section5 ======    
==================================== */
.f_section5{
    height: calc(var(--row) * 2);
    width: 100%;
}

.f_section5 span{
    color: var(--text4);
    opacity: .7;
    }